/*FOOTER*/
footer{ @include flex-column-wrap;
        text-align: $centrado;
    div{    h3{ color: $color-blanco;
                font-size: ($size)-2;
                font-weight:($weight)-200;
                padding: $espaciado-dos;
                font-family: $tipografia-alternativa; }
          .ref a{  display: flex;
                   justify-content: center;
                   font-family: $tipografia-general;
                   font-weight: ($weight/2);
                   font-style: $estilo;
                   list-style-type: none;
                   text-decoration: none;
                   color: $color-blanco;
                   font-weight: ($weight)-200;
                   padding: $espaciado-dos;
                   font-size: ($size)-2;}}
    .logo1{ width: $espaciado;
            height: $espaciado;}
    .logo{  width: 150px;
            height: 50px;}
    h5{     font-family: $tipografia-alternativa;
            color: $color-blanco;
            font-weight: ($weight)-200;
            font-size: ($size)-4;}
    iframe{ width: ($ancho/2);
            border-radius: $borde;
            margin-bottom: $espaciado-dos;}
            .fixed{ @include flex-fixed-end;
                    bottom: 20px;
                    right: 20px;}
            .fixed__logo{   width: 50px;
                            border-radius: $borde;}}
          