$color-blanco:white;

$espaciado-estandar:0.625rem;
$espaciado-dos:0,25rem;
$espaciado: 2.5rem;

$size:18px;
$weight:600;
$line: 1,6;


$centrado: center;
$ancho: 100%;
$ancho-dos: 20%;
$ancho-tres: 9,375rem;
$alto: 3,125rem;

$borde: 1rem 1rem;
$borde-dos: 0,5 rem;

$bg: rgba(99, 0, 40, 0.562);
